html {

}

header {
  text-align: center;
  padding-top: 20px;
}

body {
  background: url("http://i.imgur.com/oEDQZE8.jpg") no-repeat center center fixed;
  background-size: cover;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  text-align: center;
  color: white;
}

.question {
  color: red;
  font-size: 120%;
 }

 .individualResult {
   color: lightgray;
   font-size: 18px;
   /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
   text-align: center;
 }

 .shadowText {
   color: lightgray;
   font-size: 18px;
   /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
 }

 .cover {
  height: 402px;
  width: 279px;
}

/*.roundRectangle {
  background-color:maroon;
  width: 500px;
  margin: 0 auto;
  border-radius: 2em;
  opacity:0.75;
}*/
