html {
  /*background: url("http://i.imgur.com/OqPzJlG.jpg") no-repeat center center fixed;*/
  /*background-repeat: no-repeat;
  background-position: cover;*/
  /*background-size: cover;*/
  }

header {
  text-align: center;
  padding-top: 20px;
}

body {
  background: url("http://i.imgur.com/oEDQZE8.jpg") no-repeat center center fixed;
  /*background-repeat: no-repeat;
  background-position: cover;*/
  background-size: cover;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}

h4 {
  text-align: center;
  color: white;
}

.question {
  color: red;
  font-size: 120%;
 }

 .individualResult {
 	background-color: green;
 }
