html {
  background-image: url("http://i1074.photobucket.com/albums/w404/natalieweb/desk6_zpsvkq1uk8w.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  }

header {
  text-align: center;
  padding-top: 20px;
}

body { 
  background-image: url("http://i1074.photobucket.com/albums/w404/natalieweb/desk6_zpsvkq1uk8w.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}

.question {
  color: red;
  font-size: 120%;
 }

 .individualResult {
 	background-color: green;
 }