html {

}

header {
  text-align: center;
  padding-top: 20px;
}

body {
  background: url("http://i.imgur.com/oEDQZE8.jpg") no-repeat center center fixed;
  background-size: cover;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}

h4 {
  text-align: center;
  color: white;
}

.question {
  color: red;
  font-size: 120%;
 }

 .individualResult {
   color: lightgreen;
   font-size: 18px;
   text-shadow: -1px 0 darkgreen, 0 1px darkgreen, 1px 0 darkgreen, 0 -1px darkgreen;
   text-align: center;
 }

 .shadowText {
   color: lightgreen;
   font-size: 18px;
   text-shadow: -1px 0 darkgreen, 0 1px darkgreen, 1px 0 darkgreen, 0 -1px darkgreen;
 }

 .cover {
  height: 402px;
  width: 279px;
}
