<div ng-controller='IndivController'>
  
  <section id="results" class="individual" style="text-align: center">
    <div ng-show="work.type === 'Books'">
    <p>Tag: {{work.tag}}</p>
    <br></br>
    <p>Title: <button ng-click="seeMore(work)">{{work.title}}</button></p>
    <p>Author(s): {{work.author}}</p>
    <p>Publisher: {{work.bookData.publisher}}</p>
    <img ng-src="{{work.bookImage}}">
    <p>Pages: {{work.bookData.pageCount}}</p>
    </div>

    <div ng-show="work.type === 'Movies'">
    <p>Tag: {{work.tag}}</p>
    <br></br>
    <p>Title: <button ng-click="seeMore(work)">{{work.title}}</button></p>
    <p>Director: {{work.diworktor}}</p>
    <p>Genre(s): {{work.movieData.genre}}</p>
    <img ng-src="{{work.movieImage}}">
    <p>Year: {{work.movieData.Year}}</p>
    </div>

    <div ng-show="work.type === 'Games'">
    <p>Tag: {{work.tag}}</p>
    <br></br>
    <p>Title: <button ng-click="seeMore(work)">{{work.title}}</button></p>
    <img ng-src="{{work.gameData.largeImage}}">
    <p>{{work.gameData.deck}}</p>
    </div>
   
  </section>

  </div>
