  <!-- madlibs -->
<div class='madlibs'>
  <form name="getTagsForm" ng-controller="TagController" novalidate style="text-align: center">

    <div class="container" style="text-align: center ng-controller=" TagController "" ng-submit="sumbitForm()">
      <label class="madLabel" for="theme">I like that the theme was...</label>
      <select class="theme" name="" ng-model="userInput.theme">
        <option ng-repeat="theme in themes" value="{{theme}}">{{theme}}</option>
      </select>
      <br>

      <label class="madLabel" for="character">This type of main character is appealing...</label>
      <select class="character" name="" ng-model="userInput.character">
        <option ng-repeat="character in characters" value="{{character}}">{{character}}</option>
      </select>
      <br>

      <label class="madLabel" for="setting">I enjoyed this setting...</label>
      <select class="setting" name="" ng-model="userInput.setting">
        <option ng-repeat="setting in settings" value="{{setting}}">{{setting}}</option>
      </select>
      <br>

      <label class="madLabel" for="genre">This genre is one I gravitate towards...</label>
      <select class="genre" name="" ng-model="userInput.genre">
        <option ng-repeat="genre in genres" value="{{genre}}">{{genre}}</option>
      </select>
      <br>
      <label class="madLabel" for="writingStyle">The writing style is nice because...</label>
      <select class="writingStyle" name="" ng-model="userInput.writingStyle">
        <option ng-repeat="writing in writingStyle" value="{{writing}}">{{writing}}</option>
      </select>
      <br>
      <label class="madLabel" for="timePeriod">I like this time period because it is in...</label>
      <select class="timePeriod" name="" ng-model="userInput.time">
        <option ng-repeat="tag in time" value="{{tag}}">{{tag}}</option>
      </select>
      <br>
      <label class="madLabel" for="artStyle">I like the art style because it is...</label>
      <select class="artStyle" name="" ng-model="userInput.artStyle">
        <option ng-repeat="tag in artStyle" value="{{tag}}">{{tag}}</option>
      </select>
      <br>
      <label class="madLabel" for="plot">I like the plot because of its..</label>
      <select class="plot" name="" ng-model="userInput.plot">
        <option ng-repeat="tag in plot" value="{{tag}}">{{tag}}</option>
      </select>
      <br>
      <label class="madLabel" for="audio">I like the audio because it has a good...</label>
      <select class="audio" name="" ng-model="userInput.audio">
        <option ng-repeat="tag in audio" value="{{tag}}">{{tag}}</option>
      </select>
      <br>
      <label class="madLabel" for="setDesign">I like the set design because it is...</label>
      <select class="setDesign" name="" ng-model="userInput.sets">
        <option ng-repeat="tag in sets" value="{{tag}}">{{tag}}</option>
      </select>
      <br>
      <label class="madLabel" for="costumes">I like the costumes because they are...</label>
      <select class="costumes" name="" ng-model="userInput.costumes">
        <option ng-repeat="tag in costumes" value="{{tag}}">{{tag}}</option>
      </select>
      <br>
      <label class="madLabel" for="quirkMetrics">I like this quirky thing...</label>
      <select class="quirkMetrics" name="" ng-model="userInput.quirky">
        <option ng-repeat="tag in quirky" value="{{tag}}">{{tag}}</option>
      </select>
      <br>
      <label class="madLabel" for="other">I like it because of this other thing...</label>
      <select class="other" name="" ng-model="userInput.other">
        <option ng-repeat="tag in other" value="{{tag}}">{{tag}}</option>
      </select>
      <br>
      <!-- <span>{{userInput}}</span> -->
      <br>
      <button type="submit" ng-click="submitForm()" name="button" class="btn btn-success">Show me recommendations</button>
    </div>

  </form>

</div>
