  <!-- recommendations -->
  <div ng-controller="RecController">
HEYYY
  <form name="filter">
  <input placeholder="Filter" type="text" ng-model="searchRecs">
  </form>
HI
  <section id="results" class="recommendations" style="text-align: center" ng-repeat="rec in recs | filter:searchRecs">
Hello World
    <div ng-show="rec.type === 'Books'">
    <p>Tag: {{rec.tag}}</p>
    <br></br>
    <p>Title: {{rec.title}}</p>
    <p>Author(s): {{rec.author}}</p>
    <p>Publisher: {{rec.bookData.publisher}}</p>
    <img ng-src="{{rec.bookImage}}">
    <p>Pages: {{rec.bookData.pageCount}}</p>
    </div>

    <div ng-show="rec.type === 'Movies'">
    <p>Tag: {{rec.tag}}</p>
    <br></br>
    <p>Title: {{rec.title}}</p>
    <p>Director: {{rec.director}}</p>
    <p>Genre(s): {{rec.movieData.genre}}</p>
    <img ng-src="{{rec.movieImage}}">
    <p>Year: {{rec.movieData.Year}}</p>
    </div>

    <div ng-show="rec.type === 'Games'">
    <p>Tag: {{rec.tag}}</p>
    <br></br>
    <p>Title: {{rec.title}}</p>
    <img ng-src="{{rec.gameData}}">
    <p>{{rec.gameData.description}}</p>
    </div>
   
  </section>

  </div>

