  <!-- recommendations -->
  <div ng-controller="RecController">
  <form name="filter" style="text-align: center">
  <input placeholder="Filter by tag" type="text" ng-model="searchRecs">
  </form>
  <section id="results" class="recommendations" style="text-align: center" ng-repeat="rec in recs | filter:searchRecs | orderBy: '-count'">
    <div ng-show="rec.type === 'Books'">
    <p class="madLabel">Tag: {{rec.tag}}</p>
    <br></br>
    <p class="madLabel">Title: <button ng-click="seeMore(rec)">{{rec.title}}</button></p>
    <p class="madLabel">Author(s): {{rec.author}}</p>
    <p class="madLabel">Publisher: {{rec.bookData.publisher}}</p>
    <img class="cover" ng-src="{{rec.bookImage}}">
    <p class="madLabel">Pages: {{rec.bookData.pageCount}}</p>
    </div>

    <div ng-show="rec.type === 'Movies'">
    <p class="madLabel">Tag: {{rec.tag}}</p>
    <br></br>
    <p class="madLabel">Title: <button ng-click="seeMore(rec)">{{rec.title}}</button></p>
    <p class="madLabel">Director: {{rec.director}}</p>
    <p class="madLabel">Genre(s): {{rec.movieData.genre}}</p>
    <img class="cover" ng-src="{{rec.movieImage}}">
    <p class="madLabel">Year: {{rec.movieData.Year}}</p>
    </div>

    <div ng-show="rec.type === 'Games'">
    <p class="madLabel">Tag: {{rec.tag}}</p>
    <br></br>
    <p class="madLabel">Title: <button ng-click="seeMore(rec)">{{rec.title}}</button></p>
    <img class="cover" ng-src="{{rec.gameData.largeImage}}">
    </div>
  </section>

<h4 ng-show="recs.length === 0"> We don't have any recomendations for that title yet.</h4>
  </div>
