<!DOCTYPE html>
<html ng-app="myApp">
<head>
</head>
 <header id="top" class="header" style="text-align: center">
    <h1>I LIKE THIS</h1>
    <h3>Find your new favorite book, movie, or videogame!</h3>
    <br>
    <form>
        <input type="text"
        ng-mdel="search" 
        name="userinput" 
        placeholder="Enter a book, movie, or videogame you like here" style="width:300px"><br>
    <button a href="#about" class="btn">Search</button>
<!-- with angular, create an "is this the title you meant?" pop-up or drop-down or something (even an alternate page if need be for now)

then create the same thing but for if a work couldn't be found at all -->


    </form>
 </header>
<body>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="homepage.js"></script>
    <!-- this is just a test to see that angular is working on this page. to be deleted. -->
    <p>{{ "hello" + " world" }}</p>
</body>
</html>

